* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
html {
  box-sizing: border-box;
  font-family: sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  margin: 0;
}

body {
  border-radius: 8px;
  border: 1px solid #48545c;
  overflow: hidden;
}

#titlebar {
  border-radius: 8px 8px 0 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 32px;
  width: 100%;
  padding: 4px;
  background: #eeedee;
  border-left: 1px solid #48545c;
  border-top: 1px solid #48545c;
  border-right: 1px solid #48545c;
  border-bottom: none;
}

#titlebar #drag-region {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
}

#titlebar-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5px;
}

#app-icon {
  display: flex;
  width: 32px;
  height: 24px;
}

#app-name {
  margin-left: 5px;
}

.orange {
  color: #f2902e;
}

.red {
  color: #ff8989;
}

#titlebar-center {
  display: flex;
  align-items: center;
}

#window-name {
  font-weight: bold;
  color: #5eb4e7;
}

#titlebar-right-one {
  display: flex;
  justify-content: center;
  width: 20px;
  margin-right: 5px;
  -webkit-app-region: no-drag;
}

#titlebar-right-three {
  display: flex;
  justify-content: space-between;
  width: 80px;
  margin-right: 5px;
  -webkit-app-region: no-drag;
}

.title-button {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 20px;
  height: 20px;
  user-select: none;
  cursor: default;
  fill: white;
}

.title-button:hover {
  background: rgba(255, 255, 255, 0.5);
  background: rgba(100, 100, 100, 0.25) !important;
  border-radius: 5px;
}

.title-button:active {
  background: rgba(255, 255, 255, 0.8);
  background: rgba(100, 100, 100, 0.15) !important;
  border-radius: 5px;
}

#history-icon {
  margin: auto auto;
  width: 20px;
  height: 20px;
}

#settings-icon {
  margin: auto auto;
  width: 20px;
  height: 20px;
}

#close-icon {
  margin: auto auto;
  width: 16px;
  height: 16px;
}

#lookup-cards {
  border-radius: 0 0 8px 8px;
  margin-top: 31px;
  height: calc(100% - 31px);
  overflow-y: auto;
  width: 100%;
  background-color: #fff;
}

.lookup-card {
  height: 267px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #7e7e7e;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding: 5px;
}

#lookup-card-solo {
  border-radius: 0 0 8px 8px;
  height: calc(100% - 31px);
  width: 100%;
  margin-top: 31px;
  padding: 5px;
  background-color: #fff;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.crm-icon-row {
  grid-column: 1 / span 5;
  grid-row: 1;
}

.details-row {
  grid-column: 1 / span 5;
  grid-row: 2;
  display: flex;
  flex-direction: column;
}

.contact-names-col {
  grid-column: 1 / span 2;
  grid-row: 3;
  display: flex;
  flex-direction: column;
}

.scroll-enabled {
  overflow-y: auto;
}

.scroll-enabled::-webkit-scrollbar-thumb {
  background-color: #afc0c7;
  background-clip: content-box;
  border: 1px solid rgba(0, 0, 0, 0);
}

.scroll-enabled::-webkit-scrollbar-track {
  background-color: #fff;
  border: 1px solid #c6c6c6;
  border-radius: 1px;
  box-shadow: 2px 2px 1px #7e7e7e17;
}

.scroll-enabled::-webkit-scrollbar {
  width: 12px;
}

.scroll-enabled::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

.contact-details-col {
  grid-column: 3 / span 3;
  grid-row: 3;
}

.timestamp-row {
  grid-column: 1 / span 5;
  grid-row: 4;
  font-size: small;
  color: #7e7e7e;
}

.button-row {
  grid-column: 1 / span 5;
  grid-row: 5;
}

.crm-icon {
  width: 32px;
  height: 32px;
}

.contact-name-active {
  font-size: medium;
  font-weight: bold;
  color: #22b1df;
  background-color: #e2f2f8;
  cursor: default;
}

.contact-name-inactive {
  font-size: medium;
  font-weight: bold;
  color: #f2902e;
  cursor: default;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.lookup-by {
  color: #7e7e7e;
}

.field {
  font-size: medium;
  font-weight: normal;
}

.field span {
  font-size: medium;
  font-weight: normal;
}

.bottom-button {
  color: #7e7e7e;
  background-color: #fff;
  border: 1px solid #7e7e7e;
  box-shadow: 2px 2px 1px #7e7e7e49;
  border-radius: 5px;
  padding: 2px 7px;
}

#settings-container {
  border-radius: 0 0 8px 8px;
  height: calc(100% - 31px);
  width: 100%;
  margin-top: 31px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#settings-left {
  grid-column: 1;
  height: 100%;
  border-right: 1px solid #7e7e7e;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.settings-crm-active {
  font-size: large;
  font-weight: bold;
  color: #22b1df;
  width: 100%;
  background-color: #e2f2f8;
  cursor: default;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.settings-crm-inactive {
  font-size: large;
  font-weight: bold;
  color: #f2902e;
  width: 100%;
  background-color: #e2f2f8;
  cursor: default;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#settings-right {
  grid-column: 2 / span 3;
  height: 100%;
  border-left: 1px solid #7e7e7e;
  display: flex;
  flex-direction: column;
}

#settings-logo-row {
  height: 50px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#settings-logo-img {
  max-width: 100%;
  max-height: 100%;
}

.settings-banner {
  height: 50px;
  width: 100%;
  background-color: #ebeaeb;
  font-size: x-large;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#settings-auth {
  height: calc(50% - 100px);
  color: #7e7e7e;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.settings-auth-form {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.settings-auth-message-row {
}

.settings-auth-message {
}

.settings-auth-input {
  width: 90%;
  height: 30px;
  border: 1px solid #7e7e7e;
  padding: 1px;
  text-align: center;
}

.settings-auth-logout {
  width: 120px;
  height: 30px;
  background-color: #ff8989;
  color: white;
}

.settings-auth-login {
  width: 120px;
  height: 30px;
  background-color: #22b1df;
  color: white;
}

.logout-button {
  background-color: #ff8989;
  color: white;
}

#settings-fields {
  height: 225px;
  font-size: medium;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.settings-field {
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: row;
}

.settings-field label {
  margin-left: 5px;
}

.settings-field .checked {
  color: black;
}

.settings-field .unchecked {
  color: #b9c9cf;
}

#auth-modal-container {
  border-radius: 0 0 8px 8px;
  height: calc(100% - 31px);
  width: 100%;
  margin-top: 31px;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

#auth-modal-subcontainer {
  height: auto;
  width: 100%;
}

.auth-message-row {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-message {
  width: auto;
  margin: 0 auto;
  height: 100%;
  font-size: x-small;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  color: red;
}

#auth-crm-logo-row {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#auth-crm-logo {
  width: 50%;
  height: 100%;
}

#auth-modal-container form {
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-input {
  width: 50%;
  height: 30px;
  border: 1px solid #7e7e7e;
  padding: 1px;
  text-align: center;
}

.auth-submit {
  width: 25%;
  height: 30px;
  background-color: #22b1df;
  color: white;
}
